DIAL_DIR = Dialects/
DIAL_LUS_DIR = $(DIAL_DIR)Lus/
DIAL_SYNC_DIR = $(DIAL_DIR)Sync/

TRANS_DIR = Transforms/
TRANS_SYNC_STD_DIR = $(TRANS_DIR)SyncToStd/

PASSES_DIR = $(TRANS_DIR)Passes/

TOOLS_DIR = Tools/
MLIRLUS_MAIN_OBJ = $(TOOLS_DIR)mlir-lus.o
MLIRPRIME_MAIN_OBJ = $(TOOLS_DIR)mlir-prime.o

H_DIAL_LUS = \
	$(DIAL_LUS_DIR)FbyOp.h \
	$(DIAL_LUS_DIR)PreOp.h \
	$(DIAL_LUS_DIR)OnClockOp.h \
	$(DIAL_LUS_DIR)OnClockNodeOp.h \
	$(DIAL_LUS_DIR)InstanceTest.h \
	$(DIAL_LUS_DIR)KPeriodic.h \
	$(DIAL_LUS_DIR)lus.h \
	$(DIAL_LUS_DIR)NodeTest.h \
	$(DIAL_LUS_DIR)TestCondition.h \
	$(DIAL_LUS_DIR)WhenOp.h \
	$(DIAL_LUS_DIR)MergeOp.h \
	$(DIAL_LUS_DIR)WhenType.h \
	$(DIAL_LUS_DIR)Yield.h \
	$(DIAL_LUS_DIR)YieldType.h \
	$(DIAL_LUS_DIR)ClockAnnotation.h \
	$(DIAL_LUS_DIR)InitOp.h \
	$(DIAL_LUS_DIR)OutputOp.h \
	$(DIAL_LUS_DIR)KPeriodicOp.h \
	$(DIAL_LUS_DIR)Clocking/ClassicClocker.h \
	$(DIAL_LUS_DIR)Clocking/ClassicClock.h \

CPP_DIAL_LUS = \
	$(DIAL_LUS_DIR)FbyOp.cpp \
	$(DIAL_LUS_DIR)PreOp.cpp \
	$(DIAL_LUS_DIR)OnClockOp.cpp \
	$(DIAL_LUS_DIR)OnClockNodeOp.cpp \
	$(DIAL_LUS_DIR)InstanceTest.cpp \
	$(DIAL_LUS_DIR)KPeriodic.cpp \
	$(DIAL_LUS_DIR)lus.cpp \
	$(DIAL_LUS_DIR)NodeTest.cpp \
	$(DIAL_LUS_DIR)TestCondition.cpp \
	$(DIAL_LUS_DIR)ClockAnnotation.cpp \
	$(DIAL_LUS_DIR)WhenOp.cpp \
	$(DIAL_LUS_DIR)MergeOp.cpp \
	$(DIAL_LUS_DIR)Yield.cpp \
	$(DIAL_LUS_DIR)InitOp.cpp \
	$(DIAL_LUS_DIR)OutputOp.cpp \
	$(DIAL_LUS_DIR)KPeriodicOp.cpp \
	$(DIAL_LUS_DIR)Clocking/ClassicClocker.cpp \
	$(DIAL_LUS_DIR)Clocking/ClassicClock.cpp \

H_DIAL_SYNC = \
	$(DIAL_SYNC_DIR)SignalTypes.h \
	$(DIAL_SYNC_DIR)NodeType.h \
	$(DIAL_SYNC_DIR)Node.h \
	$(DIAL_SYNC_DIR)Sync.h \
	$(DIAL_SYNC_DIR)HaltOp.h \
	$(DIAL_SYNC_DIR)InputOp.h \
	$(DIAL_SYNC_DIR)OutputOp.h \
	$(DIAL_SYNC_DIR)TickOp.h \
	$(DIAL_SYNC_DIR)SyncOp.h \
	$(DIAL_SYNC_DIR)InOp.h \
	$(DIAL_SYNC_DIR)OutOp.h \
	$(DIAL_SYNC_DIR)InstOp.h \
	$(DIAL_SYNC_DIR)UndefOp.h \
	$(DIAL_SYNC_DIR)SelectOp.h \

CPP_DIAL_SYNC = \
	$(DIAL_SYNC_DIR)Sync.cpp \
	$(DIAL_SYNC_DIR)Node.cpp \
	$(DIAL_SYNC_DIR)InOp.cpp \
	$(DIAL_SYNC_DIR)InputOp.cpp \
	$(DIAL_SYNC_DIR)InstOp.cpp \
	$(DIAL_SYNC_DIR)OutOp.cpp \
	$(DIAL_SYNC_DIR)OutputOp.cpp \
	$(DIAL_SYNC_DIR)SyncOp.cpp \
	$(DIAL_SYNC_DIR)TickOp.cpp \
	$(DIAL_SYNC_DIR)SelectOp.cpp \
	$(DIAL_SYNC_DIR)HaltOp.cpp \
	$(DIAL_SYNC_DIR)UndefOp.cpp \

# H_DIAL = $(H_DIAL_LUS) $(H_DIAL_SYNC) $(DIAL_DIR)/ParserAux.h
# CPP_DIAL = $(CPP_DIAL_LUS) $(CPP_DIAL_SYNC) $(DIAL_DIR)/ParserAux.cpp

H_DIAL = $(H_DIAL_LUS) $(H_DIAL_SYNC) $(DIAL_DIR)FunctionImplementation.h
CPP_DIAL = $(CPP_DIAL_LUS) $(CPP_DIAL_SYNC)

H_TRANS_SYNC_STD = \
	$(TRANS_SYNC_STD_DIR)NodeToFun.h \
	$(TRANS_SYNC_STD_DIR)ConstantPool.h \
	$(TRANS_SYNC_STD_DIR)ExtFunctionPool.h \
	$(TRANS_SYNC_STD_DIR)BufferGenerator.h \

CPP_TRANS_SYNC_STD = \
	$(TRANS_SYNC_STD_DIR)NodeToFun.cpp \
	$(TRANS_SYNC_STD_DIR)ConstantPool.cpp \
	$(TRANS_SYNC_STD_DIR)ExtFunctionPool.cpp \
	$(TRANS_SYNC_STD_DIR)BufferGenerator.cpp \

H_PASSES = \
	$(PASSES_DIR)Passes.h \

CPP_PASSES = \
	$(PASSES_DIR)SyncToStdPass.cpp \
	$(PASSES_DIR)ExpandMacrosPass.cpp \
	$(PASSES_DIR)ClassicClockCalculusPass.cpp \
	$(PASSES_DIR)AllFbysOnBaseClockPass.cpp \
	$(PASSES_DIR)CentralizedStatePass.cpp \
	$(PASSES_DIR)RecomputeOrderPass.cpp \
	$(PASSES_DIR)ExplicitSignalsPass.cpp \
	$(PASSES_DIR)ExplicitPredicatesPass.cpp \
	$(PASSES_DIR)SCFClocksPass.cpp \
	$(PASSES_DIR)NodeToReactiveFunctionPass.cpp \
	$(PASSES_DIR)InlineInstancesPass.cpp \
	$(PASSES_DIR)NodeToStepResetPass.cpp \

H_TRANS = \
	$(H_PASSES) \
	$(H_TRANS_SYNC_STD) \
	$(TRANS_DIR)Helpers.h \

CPP_TRANS = \
	$(CPP_PASSES) \
	$(CPP_TRANS_SYNC_STD) \
	$(TRANS_DIR)Helpers.cpp \

HEADERS = $(H_DIAL) $(H_TOOLS) $(H_TRANS)

CFILES = $(CPP_DIAL) $(CPP_TOOLS) $(CPP_TRANS)

OBJFILES = $(CFILES:.cpp=.o)

PATCHES_C_FILES = \
	$(TRANS_DIR)Patches/MemrefCopyPass.cpp \
	$(TRANS_DIR)Patches/MemrefClonePass.cpp \
	$(TRANS_DIR)Patches/MemrefStackPass.cpp \
	$(TRANS_DIR)Patches/LinalgCopyPass.cpp

PATCHES_OBJFILES = $(PATCHES_C_FILES:.cpp=.o)