LLVM=/home/hpompougnac/bin/llvm-lus

MLIROPT=$(LLVM)/bin/mlir-opt
LDFLAGS= -L $(LLVM)/lib

CC=clang
CPP=clang++
LD=clang++
CFLAGS =  \
	-std=c++17 \
	-fno-rtti -fvisibility-inlines-hidden \
	-I $(LLVM)/include \
	-O3 \
	-g

# CPP=clang++-9
# LDFLAGS= -L $(LLVM)/lib -lpthread -g -ltinfo
# CC=clang-9
# LD=clang++-9
# CFLAGS =  \
# 	-fno-rtti -fvisibility-inlines-hidden \
# 	-Wall \
# 	-I $(LLVM)/include -I./include \
# 	-O3 \
# 	-g 

